@font-face
    font-family 'Roboto'
    src url('/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/fonts/Roboto-Regular.woff') format('woff')
    font-weight 400
    font-style normal

$color-primary = rgba(255, 87, 34, 1)
$color-secondary = rgba(46, 47, 51, 0.12)
$color-text-primary = rgba(255, 255, 255, 1)
$color-text-secondary = rgba(46, 47, 51, 1)

$font-weight-regular = 400
$font-weight-medium = 500

$loader-size-28 = 16px
$loader-size-36 = 20px
$loader-size-56 = 24px

$counter-background-primary = rgba(47, 182, 117, 1)
$counter-background-secondary = rgba(131, 102, 86, 0.12)

.body
    font-family 'Roboto', sans-serif
    width 100vw
    height 100vh
    margin auto
    display flex
    align-items center
    justify-content center